@import "./../../styles/mixins";

.header-container {
    @include flex-row();
    margin-bottom: $node-lg;

    &__actions {
        @include flex-column();
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
    }
}
