@import "./../../styles/mixins";

.table-container {
    @include flex-row();

    &__table-header {
        width: 100%;
        font-style: bold;
    }

    &__table-content {
        @include flex-column();

        .field {
            padding: 0;
        }
    }
}

.tooltip-container {
    &__empty {
        width: 30px;
        height: 30px;
    }
}

.tooltip-container.tooltip-container__content {
    padding: 0;
    color: $danger;
}

.scaled-table {
    &__marked {
        background-color: $light-gray;
    }
}

@include group("table-container", "table-container__table", $node-lg);
