@import "./../../styles/mixins";

.table-container {
    @include flex-row();

    &__table-header {
        width: 100%;
        font-style: bold;
    }

    &__table-content {
        @include flex-column();

        &-header {
            padding: 0 !important;
        }

        .field {
            padding: 0;

            &-cell {
                padding: 3px;

                &__marked {
                    background-color: $light-gray;
                }
            }
        }
    }

    @media print {
        &__table-content {
            &-header {
                padding: 0 !important;
            }
        }
    }
}

.tooltip-container {
    &__empty {
        width: 24px;
        height: 24px;
    }
}

.tooltip-container.tooltip-container__content {
    padding: 0;
    color: $danger;
}

@include group("table-container", "table-container__table", $node-lg);
