@import "./../../styles/mixins";

.result-container {
    @include flex-column();
    max-width: 100%;

    &__table {
        @include flex-row;

        &-item {
            @include flex-column();
            flex-basis: 50%;
            flex-grow: 1;
        }
    }

    &__conclusion {
        @include flex-column();
        @include flex-grow();
        margin-top: $node-lg * 2;
    }

    &__title {
        font-size: 1.2rem;
        font-style: italic;
        display: flex;
        justify-content: center;
        margin-top: $node-md;
        margin-bottom: $node-md;
    }

    &__footer {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-top: $node-lg;
    }
}

@include group("result-container__table", "result-container__table-item", $node-lg);
