@import "./../../styles/mixins";

#result {
    @media print {
        padding: 0;
    }
}

.result-container {
    @include flex-column();
    max-width: 100%;

    &__table {
        @include flex-row;

        &-item {
            @include flex-column();
            flex-grow: 1;
            flex-shrink: 0;

            &:first-child {
                flex-basis: 40%;
            }
        }
    }

    &__conclusion {
        @include flex-column();
        @include flex-grow();
        margin-top: $node-lg * 2;
        width: 100%;

        .conclusion-container {
            margin-bottom: $node-lg;
            width: 100%;
        }
    }

    &__title {
        font-size: 1.2rem;
        font-style: italic;
        display: flex;
        justify-content: center;
        margin-top: $node-md;
        margin-bottom: $node-md;
    }

    &__footer {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    @media print {
        margin-top: 30px;
    }
}

@include group("result-container__table", "result-container__table-item", $node-lg);
