@import "./../../styles/mixins";

.result-container {
    @include flex-row;

    &__table {
        flex-basis: 50%;
        flex-grow: 1;
    }

    &__chart {
        flex-basis: 50%;
        flex-shrink: 0;
        padding-left: $node-lg;
    }

    &__title {
        font-size: 1.2rem;
        font-style: italic;
        display: flex;
        justify-content: center;
        margin-top: $node-md;
        margin-bottom: $node-md;
    }

    &__footer {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-top: $node-lg;
    }
}

.conclusion-container {
    @include flex-column();
    @include flex-grow();
    margin-top: $node-lg * 2;
}
