@import "variables";

@mixin group($parent, $children, $margin: $margin) {
    .#{$parent} {
        margin-left: -$margin;
        margin-right: -$margin;

        @each $child in $children {
            .#{$child} {
                margin-left: $margin;
                margin-right: $margin;
            }
        }
    }
}
