@media screen {
    .printable:not(.printable-always-visible) {
        display: none;
    }
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        font-size: 14px;
        overflow-x: hidden;
        overflow-y: visible;
        border: 1px solid;
    }

    * {
        transition: none !important;
    }

    #root {
        header,
        main {
            margin: 0;
            padding: 0;

            > *:not(.printable) {
                display: none;
            }

            .printable {
                display: block;

                .MuiOutlinedInput-notchedOutline {
                    border-color: transparent;
                }

                h1 {
                    font-size: 1.6rem !important;
                }

                #results {
                    padding: 0;
                }

                .student-container {
                    font-size: 1.2rem;
                    margin-left: 0;
                    margin-right: 0;
                }

                .result-container {
                    margin-top: 30px;
                }

                #conclusion-multiline {
                    display: block !important;
                    word-wrap: break-word !important;
                    break-before: auto !important;
                    break-inside: auto !important;
                    page-break-inside: auto !important;
                    page-break-before: auto !important;
                }

                .table-container {
                    &__table-content {
                        &-header {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }

    @include group("result-container__table", "result-container__table-item", $node-md);
}
