@import "styles/mixins";
@import "styles/typography.scss";

.student_container {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

@include group("student_container", "student_container__field");
